# This is Git's per-user configuration file.
[user]
	signingkey = ~/.ssh/id_ed25519.pub
	name = miskoune
	email = miskoune@proton.me
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[push]
	autoSetupRemote = true
